    <aside class="w-64 bg-white shadow-lg min-h-screen">
      <div class="p-6 border-b">
        <h2 class="text-xl font-bold text-blue-900">Administração</h2>
      </div>
      <nav class="flex flex-col space-y-2 p-6">
        <button class="text-left px-4 py-2 rounded hover:bg-blue-100 transition menu-btn active-menu" data-section="admins">
          <i class="fas fa-user-shield mr-2"></i> <a href="administradores.html">Administradores </a>
        </button>
        <button class="text-left px-4 py-2 rounded hover:bg-blue-100 transition menu-btn" data-section="produtos">
          <i class="fas fa-pills mr-2"></i> Produtos
        </button>
        <button class="text-left px-4 py-2 rounded hover:bg-blue-100 transition menu-btn" data-section="pedidos">
          <i class="fas fa-clipboard-list mr-2"></i> Pedidos
        </button>
        <button class="text-left px-4 py-2 rounded hover:bg-blue-100 transition menu-btn" data-section="usuarios">
          <i class="fas fa-users mr-2"></i> Usuários
        </button>
        <button class="text-left px-4 py-2 rounded hover:bg-blue-100 transition menu-btn" data-section="relatorios">
          <i class="fas fa-chart-bar mr-2"></i> Relatórios
        </button>
      </nav>
    </aside>