<!-- partials/firebase-scripts.html -->
<!-- Firebase SDK -->
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-firestore-compat.js"></script>

<!-- Configuração Firebase -->
<script>
      // Configuração do Firebase
    const firebaseConfig = {
      apiKey: "AIzaSyDlTtNFfZIVIPJCIuJvnLB89idtAdKaFr8",
      authDomain: "farmaciasaobenedito-bcb2c.firebaseapp.com",
      databaseURL: "https://farmaciasaobenedito-bcb2c-default-rtdb.firebaseio.com",
      projectId: "farmaciasaobenedito-bcb2c",
      storageBucket: "farmaciasaobenedito-bcb2c.appspot.com",
      messagingSenderId: "789057690355",
      appId: "1:789057690355:web:e01ee3616df2679fe2f586",
      measurementId: "G-DHFR7WKVWS"
    };
  firebase.initializeApp(firebaseConfig);
</script>